{% comment %}
Devuelve la lista de todos video del canal

Returns:
all_Videos Video[] Array of videos.
{% endcomment %}

{% assign all_Videos = '' | split: ''  %}

{% include 1-tools/sort-videos.html videos=site.shorts %}
{% assign all_Videos = all_Videos | concat: out_sortedVideos %}

{% include 1-tools/sort-videos.html videos=site.tutoriales %}
{% assign all_Videos = all_Videos | concat: out_sortedVideos %}

{% include 1-tools/sort-videos.html videos=site.listas %}
{% assign all_Videos = all_Videos | concat: out_sortedVideos %}

{% include 1-tools/sort-videos.html videos=site.series %}
{% assign all_Videos = all_Videos | concat: out_sortedVideos %}

{% include 1-tools/sort-videos.html videos=site.mas %}
{% assign all_Videos = all_Videos | concat: out_sortedVideos %}

{% comment %} Error no agrega colaboración a Lista de videos {% endcomment %}
{% include 1-tools/sort-videos.html videos=site.colaboraciones %}
{% assign all_Videos = all_Videos | concat: out_sortedVideos %}

{% include 1-tools/sort-videos.html videos=site.extras %}
{% assign all_Videos = all_Videos | concat: out_sortedVideos %}
