@font-face {
  font-family: "alsw";
  src: url("chintzy.ttf");
}

.main_title {
  text-align: center;
  font-family: "alsw";
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 10px;
  background-color: rgba(6, 133, 135, 0.9);
  padding: 1em;
  color: #fff;
}

div#cambas {
  width: 45%;
  float: left;
  margin-right: 4em;
  margin-top: -3.5em;
}

.col1_of_2 {
  float: left;
  width: 45%;
}

h2, p, h3 {
  font-family: "Roboto", sans-serif;
}

p#EstadoNeurona {
  color: #f2b134;
  font-weight: 900;
  font-size: 2.2em;
  font-family: "alsw";
  text-transform: uppercase;
  letter-spacing: 5px;
}

input.BotonEntrenar, input#BtEntrenar, input#BtCargar, input#BtSalvar {
  border: none;
  padding: 1em 1.5em 1em;
  margin-right: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 0.5em 1em 0.5em;
}

input#BtCargar, input#BtSalvar {
  background: rgb(172, 60, 179);
}

input.BotonEntrenar {
  background: #f2b134;
}

input#BtEntrenar {
  background: rgba(6, 133, 135, 0.9);
}

input#InputText {
  padding: 0.5em;
}

h3 {
  margin-top: 2em;
}

p.more {
  text-align: right;
}

@media screen and (max-width:1180px) {
  input.BotonEntrenar, input#BtEntrenar, input#BtCargar, input#BtSalvar {
    margin-right: 0.5em;
    padding: 0.5em 0.5em 0.5em;
  }
}

@media screen and (max-width:965px) {
  div#cambas {
    margin-top: -1.5em;
  }
}

@media screen and (max-width:914px) {
  .col1_of_2 {
    float: left;
    width: 100%;
  }
  div#cambas {
    margin-top: -2em;
    width: 100%;
    margin-right: 0;
  }
  h1 {
    font-size: 1em;
  }
  video {
    max-height: 505px;
  }
  input.BotonEntrenar, input#BtEntrenar, input#BtCargar, input#BtSalvar {
    font-size: 0.9em;
  }
  input.BotonEntrenar:last-child {
    margin-right: 0;
  }
}
