---
layout: base
---

<div class="subtitle">
    #{{ page.colaborador_id }} 
    {% if page.nombre %}
    | {{ page.nombre }}  
    {% endif %}
</div>

<div class="video">
    
    <div class="links-and-books">
        
        {% comment %} Lista de datos personales {% endcomment %}
        {% if page.personal %}
        {% capture tiuloPersonal %}Datos personales de colaborador{% endcapture %}
        {% include 3-modules/link-list.html links=page.personal title=tiuloPersonal %}
        {% endif %}
        
        {% comment %} Lista de Link de Redes Sociales {% endcomment %}
        {% if page.redes %}
        {% capture tiuloRedes %}Link de redes sociales de colaborador{% endcapture %}
        {% include 3-modules/link-list.html links=page.redes title=tiuloRedes %}
        {% endif %}    
    
    </div>
        
</div>

<h3>Biografiá</h3>
<div class="description">{{ content }}</div>

{% include 1-tools/all-tutorial.html %}
{% assign TodosVideos = all_Videos %}

{% assign video_colaborador = '' | split: ''  %}
{% for video in all_Videos %}
    {% for miembros in video.colaboradores %}
        {% if miembros.colaborador == page.usuario %}
            {% assign video_colaborador = video_colaborador | push: video %}
        {% endif %}
    {% endfor %}
{% endfor %}

<h3>Lista video Colaborados #{{ video_colaborador.size }}°</h3>
{% if video_colaborador.size > 0 %}
    {% include 1-tools/sort-videos.html videos=video_colaborador sortByDate=true reverse=true %}
    {% include 3-modules/video-list.html sortedVideos=out_sortedVideos nopublicidad=true %}
{% endif %}

Pagina de otro colaboradores <a href="{{ '/colaboradores' | relative_url }}">Link</a>